<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css" />

  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- Mapbox -->
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

  <!-- Mapbox Plugins -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />


  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="../static/js/rainbowvis.js"></script>
</head>
<body>
	<div id="map">
    <div class="btn-group map-layer-switcher">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span id="layer-caption">Regions</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#" id="region-layer-switcher">Regions</a></li>
        <li class="divider"></li>
      </ul>
    </div>
  </div>
 
  <div class="board">
        <div class="starPlots">
            <div class="starPlots-title">Buildings in Area / Surface Area</div>
        </div>
        <div class="bigPlot">
            <div class="starPlots-title">Comparison between area's</div>
        </div>
	</div>

  <script src="../static/js/utils.js"></script>
  <script src="../static/js/map.js"></script>
  <script src="../static/js/starPlot.js"></script>
  <script src="../static/js/core.js"></script>
</body>
</html>
