<!DOCTYPE html>
<html>
<head>
	<title></title>
 
  <script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
  	
  <!-- Connects a css file from the folder static/css/ -->
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <!-- map api (this one now is not google api, it's only a demo) -->
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="{{ url_for('static', filename='js/rainbowvis.js') }}"></script>
</head>
<body>
  <!-- You can print a variable id -->
  <!-- Hello world! {{id}} -->

	<div id="map">
  	<!-- add map ~ -->
  </div>
 
	<div class="board">
    [<a href="#" class="hide-board">></a>]
    <div class="hist">
		<!-- The map is only for test..<br/> This space is for histogram.. 		 -->
    </div>
	</div>
	


	<!-- useful js files -->
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<!-- The same with a JS file -->
  {% assets "js_main" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
