body{
	overflow: hidden;
  	background: #FFF;
 	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0px;
	padding: 0px; 
 
}
section{
	background: #fff;
	padding: 20px;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-width: 740px;
}
p,h1,h2,h3,h4,h5,h6{
	 
}
  
#map{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px; 
	left: 0px;
	background: url();
}

.board{
	display: block;
	width: 260px;
	height: 100%;
	right: 0px;
	overflow: hidden;
	z-index: 1000;
	padding: 20px;
	
	background: #FFF;
	position: fixed;

}
 