body {
	overflow: hidden;
  	background: #FFF;
 	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0px;
	padding: 0px; 
 
}

section {
	background: #fff;
	padding: 20px;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	min-width: 740px;
}
  
#map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px; 
	left: 0px;
	background: url();
}

.board {
	display: block;
	width: 20px;
	height: 100%;
	right: 0px;
	overflow: hidden;
	z-index: 1000;
	padding: 20px;
	
	background: #FFF;
	position: fixed;

}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: #fec44f;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
 

.map-layer-switcher {
	z-index: 1;
	position: absolute;
  	top: 10px; right: 100px;
  	width: 150px;
}

### StarPlot

.chart {
    margin-bottom:40px
}
.star-title {
    font-size: 14px;
}
.star-label {
    font-size: 10pt;
}
.star-axis {
    stroke: gray;
    stroke-width = 1;
    stroke-dasharray: 4 5;
}
.star-path {
    stroke-width: 2px;
    fill-opacity:0.4;
}
.star-interaction {
    opacity:0;
}
.star-interaction-label {
    font-size: 10pt;
    text-anchor: middle;
    dominant-baseline:central;
}
