body {
    overflow: hidden;
    background: #FFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px;
    padding: 0px;
}

section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    min-width: 740px;
}
  
#map {
    position: absolute;
    width: 70%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url();
}

.board {
    display: block;
    width: 30%;
    height: 100%;
    right: 0px;
    overflow: hidden;
    z-index: 1000;
    padding: 1%;
    background: #FFF;
    position: fixed;
}

.starPlots {
    display: inline-block;
    height:60%;
    width:100%;
}
.starPlots-title{
    font: 16px sans-serif;
    text-align: center;    
}
.bigPlot {
    height:35%;
    width: 100%;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.map-layer-switcher {
    z-index: 1;
    position: absolute;
    top: 10px; left: 100px;
    width: 150px;
}

.star-title {
    font-size: 14px;
}
.star-label {
    font-size: 10pt;
}
.star-axis {
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 4 5;
}
.star-path {
    stroke-width: 2px;
    fill-opacity:0.4;
}
.star-interaction {
    opacity:0;
}
.star-interaction-label {
    font-size: 10pt;
    text-anchor: middle;
    dominant-baseline:central;
}

.chartBig {
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#myCarousel {
    display: block;
    width: 30%;
    height: 100%;
    right: 0px;
    z-index: 1;
    padding: 0;
    background: #FFF;
    position: fixed;
}

#myCarousel h2 {
    margin: 0;     
    color: #666;
    padding-top: 50px;
    font-size: 36px;
    font-family: "trebuchet ms", sans-serif;    
}

#myCarousel h3 {
    font-family: "trebuchet ms", sans-serif;    
}

#myCarousel .item {
    background: #333;    
    text-align: center;
    height: 1600px !important;
}

#myCarousel .carousel {
    margin-top: 20px;
}
#myCarousel .bs-example {
    margin: 20px;
}

#myCarousel #carousel-caption {
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 120px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}